@import 'bootstrap/dist/css/bootstrap';

  .navbar-light .navbar-brand {
  font-size: 3rem;
}

h1 {
  color: red;
}

.bg-light {
  background-color: #000000 !important;
}

.nav-link {
  color: white !important;
}

#logo{
  float: left;
  font-size: 1.7rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}